---
---

@import "minima";

.site-header {
    border-top: 5px solid #3050a0;
    background-color: white;
    white-space: nowrap;
    position: fixed;
    height: 56px;
    top: 0;
    width: 100%;
}

.page-content {
    margin-top: 56px;
}

.site-nav {
    display: inline-block;
    margin-left: 20px;
    overflow: hidden;
    float: none;
}

.site-title {
    display: inline-block;
}

.wrapper {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
}