---
---

@import "minima";

.site-header {
    border-top: 5px solid #3050a0;
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
}

.site-nav {
    float: none;
    overflow: hidden;
    white-space: nowrap;
}

.site-title {
    display: inline-block;
    margin-right: 10px;
}

.site-nav .page-link:not(:last-child) {
    margin-right: 0;
}

@media screen and (min-width: 601px) {
    .site-nav .page-link:hover,
    .site-title:hover {
        border-bottom: 2px solid #3050a0;
        text-decoration: none;
    }

    .site-nav .page-link {
        padding: 0 10px 0 10px;
        display: inline-block;
        line-height: unset;
    }
}

hr {
    border-style: ridge;
    border-width: 0.5px;
    margin-bottom: 10px;
}

li > p {
    margin-bottom: 0;
}