---
---

@import "minima";

.site-header {
    border-top: 5px solid #3050a0;
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
}

.site-nav {
    float: none;
    white-space: nowrap;
}

.site-title {
    display: inline-block;
    margin-right: 5px;
}

.site-nav .page-link:not(:last-child) { margin-right: 0; }


@media screen and (min-width: 601px) {
    .site-nav > .trigger { display: flex; }
    .site-nav .page-link.subject { display: none; }

    .site-nav .page-link:not(.separator):hover,
    .site-title:hover,
    .site-nav .page-link.selected,
    .site-title.selected {
        box-sizing: border-box;
        text-decoration: none;
    }
    
    .site-nav .page-link {
        border-bottom: 2px solid white;
        flex: auto;
        text-align: center;
        display: inline-block;
        line-height: unset;
    }
}

.page-content {
    padding: 0 0 30px 0;
}

.page-content .site-nav {
    border-bottom: 1px solid #e8e8e8;
}

hr {
    border-style: ridge;
    border-width: 0.5px;
    margin-bottom: 10px;
}

li > p {
    margin-bottom: 0;
}