---
---

@import "minima";

.site-header {
    border-top: 5px solid #3050a0;
    background-color: white;
    position: sticky;
    z-index: 2;
    top: 0;
}

.menu { 
    white-space: nowrap; 
    overflow-x: auto;
    display: flex;
}

@media screen and (max-width: 500px) {
    .menu.top-menu { display: none; }
}

.site-title {
    display: inline-block;
    padding: 0 calc(15% - 60px); 
}

.menu .page-link {
    border-bottom: 2px solid transparent;
    color: black;
    flex: auto;
    text-align: center;
    line-height: 52px;
    padding: 0 10px;
}

.scroll-hide {
    z-index: 1;
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    display: flex;
    transition: top 0.3s;
    position: sticky;
    width: 100%;
    background: #fdfdfd;
    top: 62px;
}
    
.site-title:hover,
.menu .page-link:hover,
.menu .page-link.selected,
.site-title.selected {
    border-bottom: 2px solid #3050a0;
    box-sizing: border-box;
    text-decoration: none;
}

.page-content {
    padding: 0 0 30px 0;
}

hr {
    border-style: ridge;
    border-width: 0.5px;
    margin-bottom: 10px;
}

li > p {
    margin-bottom: 0;
}

h1, h2 { margin-top: 30px; }
h2 { font-size: 28px; border-bottom: 1px solid #e8e8e8; }
h3 { font-size: 24px; }