---
---

@import "minima";

.site-header {
    border-top: 5px solid #3050a0;
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
}

.site-nav {
    float: none;
    white-space: nowrap;
}

.site-title {
    display: inline-block;
    margin-right: 5px;
}

.site-nav .page-link:not(:last-child) { margin-right: 0; }

.scroll-hide {
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    display: flex;
    transition: top 0.3s;
    position: sticky;
    width: 100%;
    background: #fdfdfd;
    top: 62px;
}

.site-nav .page-link {
    border-bottom: 2px solid transparent;
    flex: auto;
    text-align: center;
    display: inline-block;
    line-height: unset;
}

@media screen and (min-width: 601px) {
    .site-nav > .trigger { display: flex; }
    .site-nav .page-link.subject { display: none; }
    
    .site-nav .page-link:not(.separator):hover,
    .site-title:hover,
    .site-nav .page-link.selected,
    .site-title.selected {
        border-bottom: 2px solid #3050a0;
        box-sizing: border-box;
        text-decoration: none;
    }

    .site-title { padding: 0 calc(7%); }
}

.page-content {
    padding: 0 0 30px 0;
}

hr {
    border-style: ridge;
    border-width: 0.5px;
    margin-bottom: 10px;
}

li > p {
    margin-bottom: 0;
}

h1, h2 { margin-top: 30px; }
h2 { font-size: 28px; border-bottom: 1px solid #e8e8e8; }
h3 { font-size: 24px; }